:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;

}

* {
    color: var(--fontColor);
    font-family: helvetica;
}
body {
    background: var(--bg);
}

img {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}


ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 1rem;
  font-family: helvetica;
}
li {
  display: grid;
  grid-template-columns: 0 1fr;
  grid-gap: 1.75em;
  align-items: start;
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: "Lucida Console", monospace;
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg:var(--white);
    --btnFontColor: var(--black);
}

